<!DOCTYPE html>
<html>
<head>
    <title> {% block title %}{% endblock %} </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/register-style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body style="overflow: hidden">
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FKKeV</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="active"><a href="/logout">Logout</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav>
<div class="container" style="">
    <br><br><br><br>
    {% block content %}
    {% endblock %}
</div>
<div class="side-nav"
     style="height: 100%;background-color: #1c1c2b; width: 229px; position: absolute; z-index: 5 ;left: 0px; top: 0px;">
    <br><br><br><br>
    <a href="/profile" style="color: white; text-decoration:  none;">
        <div class="nav-sub-heading">
            <h5><span class="glyphicon glyphicon-user" style="color: white"></span>&nbsp;&nbsp;Profile View</h5>
        </div>
    </a>
    <a href="/editprofile" style="color: white; text-decoration:  none;">
        <div class="nav-sub-heading">
            <h5><span class="glyphicon glyphicon-user" style="color: white"></span>&nbsp;&nbsp;Edit Profile</h5>
        </div>
    </a>
    <a href="/bankprofile" style="color: white; text-decoration:  none;">
        <div class="nav-sub-heading">
            <h5><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp; Bank Data</h5>
        </div>
    </a>
    <a href="/editbank" style="color: white; text-decoration:  none;">
        <div class="nav-sub-heading">
            <h5><span class="glyphicon glyphicon-user" style="color: white"></span>&nbsp;&nbsp;Bank Details Edit</h5>
        </div>
    </a>
    <a href="#" style="color: white; text-decoration:  none;">
        <div class="nav-sub-heading">
            <h5><span class="glyphicon glyphicon-usd"></span> &nbsp;&nbsp;My Invoices</h5>
        </div>
    </a>
</div>
</body>