<!DOCTYPE html>
<html>
<head>
    <title> Register </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/register-style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FKKeV</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav>
<div class="container">
    <form method="POST" action="/register">
        <div class="container__rigisterForm" style=" margin-top: 80px;     box-shadow: 5px 10px #888888;">
            {% for field in form.errors %}
                {% for error in form.errors[field] %}
                    <div class="alert alert-danger">
                        {{ field }}
                        <strong>Error!</strong> {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="registerForm__header">
                <h1 class="registerForm__text "><b>Page 1 of 4</b></h1>
            </div>
            <div class="registerForm__footer" id="one">
                {{ form.hidden_tag() }}
                <h3><b>Personal Details</b></h3>
                {% set i=1 %}
                {% for subField in form.membertype %}
                    <div class="form-check" style="display: inline;">
                        {{ subField(class="form-check-input",required=True,**{"onclick":"showType("~loop.index~")"}) }}
                        {{ subField.label }}
                    </div>
                {% endfor %}
                <br><br>
                <div id="firma" style="left: 0; position: relative;">
                    <div class="alert alert-success">
                        <h5 id="natPer"><b>Natürliche Person</b></h5>
                        <h5 id="jurPer"><b>Juristische Person</b></h5>
                    </div>

                    <div class="form-group">
                        {{ form.company.label }}
                        {{ form.company(class="form-control",id="cName",placeholder="Enter your Company Name") }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="fName" style="float: left;">Vorname</label>
                    {{ form.firstname(class="form-control",id="fName",placeholder="Peter",required=True) }}
                </div>
                <div class="form-group">
                    <label for="lName" style="float: left;">Nachname</label>
                    {{ form.lastname(class="form-control",id="lName",placeholder="Huan",required=True) }}
                </div>
                <div class="form-group" id="bDay_toggle">
                    <label for="bDay" style="float: left;">Birthday</label>
                    {{ form.bday(class="form-control",id="bDay",placeholder="DD-MM-YY",type="date") }}
                </div>

                <div class="form-group">
                    <label for="mail" style="float: left;">Email ID</label>
                    {{ form.email(class="form-control",id="mail",placeholder="yourname@domamin.com",type="email",required=True) }}
                </div>
                <div class="form-group">
                    <label for="sName" style="float: left;">Straße & Nr</label>
                    {{ form.road(class="form-control",id="sName",placeholder="Letzter Hasenpfad",required=True) }}
                </div>
                <div class="form-group">
                    <label for="plz" style="float: left;">Zip Code</label>
                    {{ form.postcode(class="form-control",id="plz",placeholder="12345",type="number",required=True) }}
                </div>
                <div class="form-group">
                    <label for="city" style="float: left;">Stadt</label>
                    {{ form.town(class="form-control",id="city",placeholder="City Name",required=True) }}
                </div>
                {{ form.persontype(type="number",id="topVAl",value=0) }}
                <br>
                <button class="btn btn-success" onclick="show('one','two')" type="button">Continue</button>

            </div>
            <div>
                <div class="registerForm__header">
                    <h1 class="registerForm__text "><b>Page 2 of 4</b></h1>
                </div>
                <div class="registerForm__footer" id="two">
                    <h3><b>Voluntary Data</b></h3>
                    <br><br>
                    <div class="form-group">
                        <label for="phoneNumber" style="float: left;">Telefonnummer</label>
                        {{ form.phone(class="form-control",id="phoneNumber",placeholder="49-12345678901") }}
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber__2" style="float: left;">Handynummer</label>
                        {{ form.mobile(class="form-control",id="phoneNumber__2",placeholder="49-43245612901") }}
                    </div>
                    <div class="form-group">
                        <label for="profile" style="float: left;">Upload a profile photo</label>
                        {{ form.image_url(class="form-control",id="phoneNumber",placeholder="49-12345678901",type="url") }}
                    </div>
                    <br> <br>
                    <button class="btn btn-info" onclick="show('two','one')" type="button">Previous</button>
                    <button class="btn btn-success" onclick="show('two','three')" type="button">Continue</button>

                </div>
                <div class="registerForm__header">
                    <h1 class="registerForm__text "><b>Page 3 of 4</b></h1>
                </div>
                <div class="registerForm__footer" id="three">
                    <h3><b>Please fill the details</b></h3>
                    <br><br>
                    <div class="form-group">
                        <label for="bName" style="float: left;">Bank Account Name</label>
                        {{ form.account_holder(class="form-control",id="bName",placeholder="ABC XYZ",required=True) }}
                    </div>
                    <div class="form-group">
                        <label for="iban" style="float: left;">IBAN</label>
                        {{ form.iban(class="form-control",id="iban",placeholder="XXXX-XXXX-XXXX-XXXX-XX",required=True) }}
                    </div>

                    <div class="form-group">
                        <label for="bic" style="float: left;">BIC</label>
                        {{ form.bic(class="form-control",id="bic",placeholder="XXXXXX",required=True) }}
                    </div>


                    <div id="flag_one">
                        <div class="form-group">
                            <label for="payment" style="float: left;">Monthly Payment</label>
                            {{ form.fee(class="form-control",id="payment",value="9",type="number",required=True) }}
                        </div>
                        <div class="form-check" style="display: inline;">
                            <input class="form-check-input" type="radio" name="exampleRadios-1" id="exampleRadios1-p"
                                   value="option1" checked onclick="changePayment(3)">
                            <label class="form-check-label" for="exampleRadios1-p">
                                &nbsp;3 Euro
                            </label>
                        </div>
                        <div class="form-check" style="display: inline;">
                            <input class="form-check-input" type="radio" name="exampleRadios-1" id="exampleRadios2-p"
                                   value="option2" onclick="changePayment(6)">
                            <label class="form-check-label" for="exampleRadios2-p">
                                &nbsp;6 Euro
                            </label>
                        </div>
                        <div class="form-check" style="display: inline;">
                            <input class="form-check-input" type="radio" name="exampleRadios-1" id="exampleRadios3-p"
                                   value="option2" onclick="changePayment(30)">
                            <label class="form-check-label" for="exampleRadios3-p">
                                &nbsp;30 Euro
                            </label>
                        </div>
                    </div>
                    <br>
                    <div id="flag_two">
                        <div class="form-group">
                            <label for="paymen__twot" style="float: left;">Monthly Payment</label>
                            <input type="number" class="form-control" id="payment__two" value="50">
                        </div>
                        <div class="form-check" style="display: inline;">
                            <input class="form-check-input" type="radio" name="exampleRadios-1" id="exampleRadios1-o"
                                   value="option1" checked onclick="changePayment__two(25)">
                            <label class="form-check-label" for="exampleRadios1-o">
                                &nbsp;25 Euro
                            </label>
                        </div>
                        <div class="form-check" style="display: inline;">
                            <input class="form-check-input" type="radio" name="exampleRadios-1" id="exampleRadios2-o"
                                   value="option2" onclick="changePayment__two(35)">
                            <label class="form-check-label" for="exampleRadios2-o">
                                &nbsp;35 Euro
                            </label>
                        </div>
                        <div class="form-check" style="display: inline;">
                            <input class="form-check-input" type="radio" name="exampleRadios-1" id="exampleRadios3-o"
                                   value="option2" onclick="changePayment__two(100)">
                            <label class="form-check-label" for="exampleRadios3-o" o>
                                &nbsp;100 Euro
                            </label>
                        </div>
                        <br>
                    </div>
                    <br>
                    <button class="btn btn-info" onclick="show('three','two')" type="button">Previous</button>
                    <button class="btn btn-success" onclick="appedDetails()" type="button">Continue</button>

                </div>

                <div class="registerForm__header">
                    <h1 class="registerForm__text "><b>Page 4 of 4</b></h1>
                </div>
                <div class="registerForm__footer" id="four">
                            <h3><b>Personal Details</b></h3>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td><b>Vorname</b></td>
                                    <td id="firstName-a"></td>
                                </tr>
                                <tr>
                                    <td><b>Nachname</b></td>
                                    <td id="lastName-a"></td>
                                </tr>
                                <tr>
                                    <td><b>Starbe</b></td>
                                    <td id="streetName-a"></td>
                                </tr>
                                <tr>
                                    <td><b>PLZ</b></td>
                                    <td id="zipCode-a"></td>
                                </tr>
                                <tr>
                                    <td><b>Ort</b></td>
                                    <td id="cityName-a"></td>
                                </tr>
                                <tr>
                                    <td><b>Email</b></td>
                                    <td id="eMail-a"></td>
                                </tr>

                                </tbody>
                            </table>

                            <h3><b>Bank Details</b></h3>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td><b>Kotoinaber</b></td>
                                    <td id="accountName-a"></td>
                                </tr>
                                <tr>
                                    <td><b>IBAN</b></td>
                                    <td id="ibanCode-a">HOLA</td>
                                </tr>
                                <tr>
                                    <td><b>BIC</b></td>
                                    <td id="bicCode-a"></td>
                                </tr>
                                <tr>
                                    <td><b>Mtl.Beitrag</b></td>
                                    <td id="monthlyPay-a"></td>
                                </tr>

                                </tbody>
                            </table>
                            <label class="checkbox-inline"><input type="checkbox" value="" id="checkme">SEPA-Einwilligung</label>
<div class="form-group">
  <textarea class="form-control" rows="5" id="comment" value="" readonly>Ich ermächtige den Frankfurter Kelterei Kultur e.V., Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die vom Frankfurter Kelterei Kultur e.V. auf mein Konto gezogenen Lastschriften einzulösen. Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belastenden Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.</textarea>
</div>
                    <button class="btn btn-info" onclick="show('four','three')" type="button">Previous</button>
                    <button type="submit" class="btn btn-primary" id="submitBtn" disabled="">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/register.js') }}"></script>
</html>